<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nasa.android.spotthestation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <permission
        android:name="nasa.android.spotthestation.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nasa.android.spotthestation.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />

    <permission
        android:name="nasa.android.spotthestation.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nasa.android.spotthestation.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nasa.android.spotthestation.MapActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="INSERT_CUSTOM_GOOGLE_MAPS_API_KEY" />

        <activity
            android:name="nasa.android.spotthestation.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="nasa.android.spotthestation.TwitterActivity"
            android:label="@string/title_activity_twitter" >
        </activity>
        <activity
            android:name="nasa.android.spotthestation.TwitterWebviewActivity"
            android:label="@string/title_activity_twitter_webview" >
        </activity>
        <activity
            android:name="nasa.android.spotthestation.ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name="nasa.android.spotthestation.UploadToNasaServerActivity"
            android:label="@string/title_activity_upload_to_nasa_server" >
        </activity>
        <activity
            android:name="nasa.android.spotthestation.CameraPlusActivity"
            android:label="@string/cameraPlusActivity"
            android:screenOrientation="landscape" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="nasa.android.spotthestation" />
            </intent-filter>
        </receiver>

        <service android:name="nasa.android.spotthestation.GCMIntentService" />

        <activity
            android:name="nasa.android.spotthestation.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>
